<a href="https://colab.research.google.com/github/AgungPambudi/data-science/blob/main/Tugas_Mandiri_Pertemuan_9_Agung_Pambudi_Universitas_Gadjah_Mada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hands-On
---

Hands-On ini digunakan pada kegiatan Microcredential Associate Data Scientist 2021

# Pertemuan 9
---
Pertemuan 9 (sembilan) pada Microcredential Associate Data Scientist 2021 menyampaikan materi mengenai Mengkonstruksi Data

## Pada Tugas Mandiri Pertemuan 9 

#### silakan Anda kerjakan Latihan 1 s/d 10. Output yang anda lihat merupakan panduan yang dapat Anda ikuti dalam penulisan code :)

# Latihan (1)

### Melakukan import library yang dibutuhkan

In [ ]:
!pip install feature_engine

Requirement already satisfied: feature_engine in /usr/local/lib/python3.7/dist-packages (1.1.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.4.1)
Requirement already satisfied: statsmodels>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (0.13.1)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.19.5)
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.0.1)
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.7/dist-packages (from feature_engine) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.3->feature_engine) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0.3->feature_engine) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature_engine) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.2->feature_engine) (1.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.2)

In [ ]:
# import library pandas

import pandas as pd

# Import library scipy

import scipy

# Import library winsorize dari scipy

from scipy.stats.mstats import winsorize

# Import library trima dari scipy

from scipy.stats.mstats import trima

# Import library RandomSampleImputer dari feature engine imputation

from feature_engine.imputation import RandomSampleImputer

# import library StandardScaler dari sklearn

from sklearn.preprocessing import StandardScaler

# Latihan (2)

### Menghitung nilai null pada dataset :

    1. Load dataset Iris_Unclean
    2. Tampilkan dataset
    3. Hitung jumlah nilai null pada dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# load dataset Iris_Unclean

df_iris = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_unclean.csv")

In [ ]:
# tampilkan dataset

df_iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              NaN           3.5            1.4           0.2     Iris-setosa
1              4.9        2000.0            1.4           0.2     Iris-setosa
2              4.7           3.2           -1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
# hitung jumlah nilai null pada dataset

df_iris.isnull().sum()

SepalLengthCm    2
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

# Latihan (3)

### Melakukan handle missing value dengan Imputasi Mean:

     1. Load dataset Iris_Unclean
     2. Ambil 10 data teratas "SepalLengthCm", kemudian tampilkan
     3. Mengganti missing value Imputasi dengan mean, kemudian masukkan ke variable
     4. Tampilkan 10 data teratas "SepalLengthCm" setelah handle missing value dengan Imputasi mean()

In [ ]:
# load dataset Iris_Unclean

df = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_unclean.csv")

In [ ]:
# ambil 10 data teratas SepalLengthCm, kemudian tampilkan

df = df['SepalLengthCm'].head(10)
df

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [ ]:
# mengganti missing value dengan mean(), kemudian masukkan ke variabel

df = df.fillna(df.mean())

In [ ]:
# tampilkan 10 data teratas SepalLengthCm setelah handle missing value dengan imputasi mean

df.head(10)

0    4.8625
1    4.9000
2    4.7000
3    4.6000
4    5.0000
5    5.4000
6    4.8625
7    5.0000
8    4.4000
9    4.9000
Name: SepalLengthCm, dtype: float64

# Latihan (4)

### Melakukan handle missing value dengan nilai suka-suka (Arbitrary):

     1. Load dataset Iris_Unclean
     2. Ambil 10 data teratas "SepalLengthCm", kemudian tampilkan
     3. Mengganti missing value dengan imputasi nilai suka-suka (Arbitrary), kemudian masukkan ke variable
     4. Tampilkan 10 data teratas "SepalLengthCm" setelah handle missing value dengan nilai suka-suka

In [ ]:
# load dataset Iris_Unclean

df = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_unclean.csv")

In [ ]:
# ambil 10 data teratas SepalLengthCm, kemudian tampilkan

df = df['SepalLengthCm'].head(10)
df

0    NaN
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    NaN
7    5.0
8    4.4
9    4.9
Name: SepalLengthCm, dtype: float64

In [ ]:
# melakukan imputasi nilai suka-suka (Arbitrary), masukkan ke dalam variabel

df = df.fillna(99)

In [ ]:
# tampilkan 10 data teratas SepalLengthCm setelah handle missing value dengan nilai suka-suka (arbitary)

df.head(10)

0    99.0
1     4.9
2     4.7
3     4.6
4     5.0
5     5.4
6    99.0
7     5.0
8     4.4
9     4.9
Name: SepalLengthCm, dtype: float64

# Latihan (5)

### Melakukan handle missing value dengan frequent category / modus:

     1. Load dataset Iris_Unclean
     2. Ambil 10 data teratas "SepalLengthCm", kemudian tampilkan
     3. Mengganti missing value dengan frequent category / modus
     4. Tampilkan hasil imputasi "SepalLengthCm" setelah handle dengan frequent category / modus

In [ ]:
# load dataset Iris_Unclean

data = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_unclean.csv")

In [ ]:
# tampilkan 10 data teratas kolom SepalLengthCm

data = data['SepalLengthCm'].head(10)
data = pd.DataFrame(data)
data

   SepalLengthCm
0            NaN
1            4.9
2            4.7
3            4.6
4            5.0
5            5.4
6            NaN
7            5.0
8            4.4
9            4.9

In [ ]:
# Import SimpleImputer dari sklearn.impute

from sklearn.impute import SimpleImputer

# Mengatasi missing value dengan frequent category / modus

imp = SimpleImputer(strategy='most_frequent')

In [ ]:
# Tampilkan hasil imputasi "SepalLengthCm"

imp.fit_transform(data[['SepalLengthCm']])

array([[4.9],
       [4.9],
       [4.7],
       [4.6],
       [5. ],
       [5.4],
       [4.9],
       [5. ],
       [4.4],
       [4.9]])

# Latihan (6)

### Melakukan handle missing value dengan Imputasi Random Sample:

     1. Load dataset Iris_Unclean
     2. Tampilkan 10 data teratas
     3. Membuat imputer random sample dengan random state = 5
     4. Cocokan imputer ke data
     5. Ubah data dengan imputer masukkan ke dalam variable
     6. Tampilkan hasil imputasi data "SepalLengthCm"

In [ ]:
# load dataset Iris_Unclean

data = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_unclean.csv")

In [ ]:
# tampilkan 10 data teratas SepalLengthCm

data = data['SepalLengthCm'].head(10)
data = pd.DataFrame(data)
data

   SepalLengthCm
0            NaN
1            4.9
2            4.7
3            4.6
4            5.0
5            5.4
6            NaN
7            5.0
8            4.4
9            4.9

In [ ]:
# Membuat imputer random sample dengan random state = 5

imputer = RandomSampleImputer(random_state = 5)

# Cocokan imputer ke data

imputer.fit(data)

# Ubah data dengan imputer masukkan ke dalam variable

test_t = imputer.transform(data)

In [ ]:
# Tampilkan data hasil imputasi data "SepalLengthCm"

test_t

   SepalLengthCm
0            5.0
1            4.9
2            4.7
3            4.6
4            5.0
5            5.4
6            4.4
7            5.0
8            4.4
9            4.9

# Latihan (7)

### Melakukan Winsorizing

    1. Import library winsorize dari scipy
    2. Load data Iris_AfterClean
    3. Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
    4. Winsorize data dengan batas nilai terendah 10% dan batas nilai tinggi 20%
    5. Tampilkan hasil winsorize

In [ ]:
# Import library scipy

import scipy

In [ ]:
# Load data Iris_AfterClean
data = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_AfterClean.csv")

# Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
a = data['SepalLengthCm'].head(10)
a

0    4.6
1    5.0
2    5.4
3    4.9
4    5.4
5    4.8
6    4.8
7    4.3
8    5.8
9    5.4
Name: SepalLengthCm, dtype: float64

In [ ]:
# Winsorize data dengan batas nilai terendah 10% dan batas nilai tinggi 20%

wins = winsorize(a, limits=[0.1, 0.2])

# Tampilkan hasil winsorize
print(wins)

[4.6 5.  5.4 4.9 5.4 4.8 4.8 4.6 5.4 5.4]

# Latihan (8)

### Melakukan Trimming

    1. Import library trima dari scopy
    2. Load data Iris_AfterClean
    3. Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
    4. Trimming data dengan batas nilai terendah 2 dan batas nilai tinggi 5
    5. Tampilkan hasil trimming

In [ ]:
# Import library trima dari scopy

from scipy.stats.mstats import trima

In [ ]:
# Load data Iris_AfterClean
data = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_AfterClean.csv")

# Ambil 10 data teratas "SepalLengthCm", kemudian masukkan ke dalam variabel datan tampilkan
a = data['SepalLengthCm'].head(10)
a

0    4.6
1    5.0
2    5.4
3    4.9
4    5.4
5    4.8
6    4.8
7    4.3
8    5.8
9    5.4
Name: SepalLengthCm, dtype: float64

In [ ]:
# Trimming data dengan batas nilai terendah 2 dan batas nilai tinggi 5

trims = trima(a, limits=(2,5))

# Tampilkan hasil trimming

print(trims)

[4.6 5.0 -- 4.9 -- 4.8 4.8 4.3 -- --]

# Latihan (9)

### Melakukan Scaling: Normalisasi

    1. Load data Iris_AfterClean 
    2. Ambil 10 data teratas SepalLengthCm dan SepalWidthCm
    3. Menghitung mean data
    4. Menghitung max - min pada data
    5. Menerapkan transformasi ke data
    6. Tampilkan hasil scalling

In [ ]:
# Load data Iris_AfterClean 

data = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_AfterClean.csv")

# Ambil 10 data teratas SepalLengthCm dan SepalWidthCm

data = data[['SepalLengthCm', 'SepalWidthCm']]
data

     SepalLengthCm  SepalWidthCm
0              4.6           3.1
1              5.0           3.6
2              5.4           3.9
3              4.9           3.1
4              5.4           3.7
..             ...           ...
135            6.7           3.0
136            6.3           2.5
137            6.5           3.0
138            6.2           3.4
139            5.9           3.0

[140 rows x 2 columns]

In [ ]:
# Menghitung mean
means = data.mean(axis = 0)

# menghitung max - min
max_min = data.max(axis = 0) - data.min(axis = 0)

# menerapkan transformasi ke data
train_scaled = (data - means) / max_min

In [ ]:
# Tampilkan hasil scalling

train_scaled

     SepalLengthCm  SepalWidthCm
0        -0.361905      0.039683
1        -0.250794      0.317460
2        -0.139683      0.484127
3        -0.278571      0.039683
4        -0.139683      0.373016
..             ...           ...
135       0.221429     -0.015873
136       0.110317     -0.293651
137       0.165873     -0.015873
138       0.082540      0.206349
139      -0.000794     -0.015873

[140 rows x 2 columns]

# Latihan (10)

### Melakukan Scaling: Standardisasi

    1. Load data Iris_AfterClean 
    2. Ambil 10 data teratas SepalLengthCm dan SepalWidthCm
    2. Import library StandardScaler dari sklearn
    3. Membuat objek scaler
    4. Sesuaikan scaler dengan data
    5. Mengubah data 
    6. Tampilkan hasil scalling dengan standarisasi

In [ ]:
# Load data Iris_AfterClean 

data = pd.read_csv("/content/drive/MyDrive/Agung Pambudi - Associate Data Scientist/Iris_AfterClean.csv")

# Ambil 10 data teratas SepalLengthCm dan SepalWidthCm

data = data[['SepalLengthCm', 'SepalWidthCm']]
data

     SepalLengthCm  SepalWidthCm
0              4.6           3.1
1              5.0           3.6
2              5.4           3.9
3              4.9           3.1
4              5.4           3.7
..             ...           ...
135            6.7           3.0
136            6.3           2.5
137            6.5           3.0
138            6.2           3.4
139            5.9           3.0

[140 rows x 2 columns]

In [ ]:
# import library StandardScaler dari sklearn
from sklearn.preprocessing import StandardScaler

# Buat objek scaler
scaler = StandardScaler()

# Sesuaikan scaler dengan data
scaler.fit(data)

# Mengubah data
train_scaled = scaler.transform(data)

In [ ]:
# Tampilkan hasil

train_scaled

array([[-1.59579136,  0.17975613],
       [-1.10585542,  1.43804903],
       [-0.61591947,  2.19302477],
       [-1.22833941,  0.17975613],
       [-0.61591947,  1.68970761],
       [-1.35082339,  0.93473187],
       [-1.35082339, -0.07190245],
       [-1.96324332, -0.07190245],
       [-0.12598353,  2.44468335],
       [-0.61591947,  2.19302477],
       [-0.98337143,  1.18639045],
       [-0.24846751,  1.94136619],
       [-0.98337143,  1.94136619],
       [-0.61591947,  0.93473187],
       [-0.98337143,  1.68970761],
       [-1.59579136,  1.43804903],
       [-0.98337143,  0.68307329],
       [-1.35082339,  0.93473187],
       [-1.10585542, -0.07190245],
       [-1.10585542,  0.93473187],
       [-0.86088745,  1.18639045],
       [-0.86088745,  0.93473187],
       [-1.47330738,  0.43141471],
       [-1.35082339,  0.17975613],
       [-0.61591947,  0.93473187],
       [-1.22833941,  0.17975613],
       [-1.10585542,  0.43141471],
       [-0.49343549,  1.18639045],
       [-1.22833941,  0.17975613],
       [-1.84075934, -0.07190245],
       [-0.98337143,  0.93473187],
       [-1.10585542,  1.18639045],
       [-1.71827535, -1.83351251],
       [-1.84075934,  0.43141471],
       [-1.10585542,  1.18639045],
       [-0.98337143,  1.94136619],
       [-1.35082339, -0.07190245],
       [-0.98337143,  1.94136619],
       [-1.59579136,  0.43141471],
       [-0.73840346,  1.68970761],
       [-1.10585542,  0.68307329],
       [ 1.34382431,  0.43141471],
       [ 0.60892039,  0.43141471],
       [ 1.22134032,  0.17975613],
       [-0.49343549, -1.83351251],
       [ 0.73140438, -0.57521961],
       [-0.24846751, -0.57521961],
       [ 0.4864364 ,  0.68307329],
       [-1.22833941, -1.58185393],
       [ 0.85388836, -0.32356103],
       [-0.86088745, -0.82687819],
       [-0.00349954, -0.07190245],
       [ 0.11898444, -2.08517109],
       [ 0.24146843, -0.32356103],
       [-0.3709515 , -0.32356103],
       [ 0.97637235,  0.17975613],
       [-0.3709515 , -0.07190245],
       [-0.12598353, -0.82687819],
       [ 0.36395242, -2.08517109],
       [-0.3709515 , -1.33019535],
       [-0.00349954,  0.43141471],
       [ 0.24146843, -0.57521961],
       [ 0.4864364 , -1.33019535],
       [ 0.24146843, -0.57521961],
       [ 0.60892039, -0.32356103],
       [ 0.85388836, -0.07190245],
       [ 1.09885633, -0.57521961],
       [ 0.97637235, -0.07190245],
       [ 0.11898444, -0.32356103],
       [-0.24846751, -1.07853677],
       [-0.49343549, -1.58185393],
       [-0.49343549, -1.58185393],
       [-0.12598353, -0.82687819],
       [ 0.11898444, -0.82687819],
       [-0.61591947, -0.07190245],
       [ 0.11898444,  0.93473187],
       [ 0.97637235,  0.17975613],
       [ 0.4864364 , -1.83351251],
       [-0.3709515 , -0.07190245],
       [-0.49343549, -1.33019535],
       [-0.49343549, -1.07853677],
       [ 0.24146843, -0.07190245],
       [-0.12598353, -1.07853677],
       [-1.10585542, -1.83351251],
       [-0.3709515 , -0.82687819],
       [-0.24846751, -0.07190245],
       [-0.24846751, -0.32356103],
       [ 0.36395242, -0.32356103],
       [-0.98337143, -1.33019535],
       [-0.24846751, -0.57521961],
       [ 0.4864364 ,  0.68307329],
       [-0.12598353, -0.82687819],
       [ 1.46630829, -0.07190245],
       [ 0.4864364 , -0.32356103],
       [ 0.73140438, -0.07190245],
       [ 2.07872822, -0.07190245],
       [-1.22833941, -1.33019535],
       [ 1.71127627, -0.32356103],
       [ 0.97637235, -1.33019535],
       [ 1.58879228,  1.43804903],
       [ 0.73140438,  0.43141471],
       [ 0.60892039, -0.82687819],
       [ 1.09885633, -0.07190245],
       [-0.24846751, -1.33019535],
       [-0.12598353, -0.57521961],
       [ 0.60892039,  0.43141471],
       [ 0.73140438, -0.07190245],
       [ 2.20121221,  1.94136619],
       [ 2.20121221, -1.07853677],
       [ 0.11898444, -2.08517109],
       [ 1.22134032,  0.43141471],
       [-0.3709515 , -0.57521961],
       [ 2.20121221, -0.57521961],
       [ 0.4864364 , -0.82687819],
       [ 0.97637235,  0.68307329],
       [ 1.58879228,  0.43141471],
       [ 0.36395242, -0.57521961],
       [ 0.24146843, -0.07190245],
       [ 0.60892039, -0.57521961],
       [ 1.58879228, -0.07190245],
       [ 1.83376025, -0.57521961],
       [ 2.44618018,  1.94136619],
       [ 0.60892039, -0.57521961],
       [ 0.4864364 , -0.57521961],
       [ 0.24146843, -1.07853677],
       [ 2.20121221, -0.07190245],
       [ 0.4864364 ,  0.93473187],
       [ 0.60892039,  0.17975613],
       [ 0.11898444, -0.07190245],
       [ 1.22134032,  0.17975613],
       [ 0.97637235,  0.17975613],
       [ 1.22134032,  0.17975613],
       [-0.12598353, -0.82687819],
       [ 1.09885633,  0.43141471],
       [ 0.97637235,  0.68307329],
       [ 0.97637235, -0.07190245],
       [ 0.4864364 , -1.33019535],
       [ 0.73140438, -0.07190245],
       [ 0.36395242,  0.93473187],
       [-0.00349954, -0.07190245]])